<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <script src="javascripts/mylists.js"></script>
</head>

<body>
	<% include ./partials/nav %>

	<div id="lists">
	</div>
    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>