<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/nav %>

    <p>This is the page for all the lists.</p>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
