<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/nav %>

  <div class="container">
    <div class="tab-content">
      <div id="search" class="tab-pane fade">
        <center>
        <form id="f1" class="ui large form">
          <p>Enter the Location You Will be Visiting:</p>
          <div class="inline field">
            <label>Location: </label>
            <input id="searchLocation" type="text" name="location" placeholder="e.g. Pittsburgh">
          <button class="ui button" type="submit">Search</button>
          </div>
        </form>
        <p>
        <div id="searchContainer">
          <div class="ui cards" id="restCards">
          </div>
        </center>
      </div>
    </div>
  </div>

  <footer>
      <% include ./partials/footer %>
  </footer>

</body>

</html>